/* Задаем общие параметры страницы и параметры для элментов с повторяющимися значениями*/
*,
*::after,
*::before{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1F1E1E;
}

a {
  text-decoration: none;
  color: inherit; /*inherit - означает наследование значения родительского элемента*/
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}

.container {
  max-width: 1140px; /*max-width - сделано с целью адаптивности вместо просто width.Таким образом мы указали,что макс ширина контейнера 1120px, она будет уменьшаться на экранах меньше, но больше не будет.*/
  margin-left: auto;
  margin-right: auto;/*можно было две записи заменить одной margin: 0 auto; */
  padding: 0 10px; /*задано чтобы на моб.устройствах/на маленьком экране текст не прилипал к краям, а имел небольшой отступ*/
}

/* стилизуем header*/
.header {
  background-image: url("https://res.cloudinary.com/dl4dawvyx/image/upload/v1704705904/header-bg_yufqek.jpg");/*путь к картинке начинается с .. потому,что мы сейчас находимся в папке css и для того,чтобы с нее выйти - ставим ../images/... */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* этим значением задаем,что картинка/background хэдэра займет 100% экрана. Поскольку точный параметр определить невозможно из-за разности размеров экрана у пользователей - используем величину vh - процент высоты. Еще есть vw - процент ширины. Min-height указано на тот случай,если контента станет больше*/
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 49px;
}

.header__phone {
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  font-weight: bold;
}
.header__phone-number {
  font-weight: 400;
  margin-left: 19px;
  padding: 12px 31px 13px;
  background-color: #886239;
  border-radius: 22px;
}
.menu {
  width: 100%;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  margin-top: 15px;
  padding-top: 27px;
  padding-bottom: 24px;
}
.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__title {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 90px;
  line-height: 130%;
  color: #ffffff;
  text-align: center;
  margin-bottom: auto; /*Заголовок максимально возможно оттолкнется от низа вверх. учитывая margin элемента сверху*/
}

.header__descr {
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  max-width: 422px;
  margin-bottom: 20px;
  color: #ffffff;
}

.header__btn {
  display: inline-block; /*??????? - ИЗУЧИТЬ*/
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding: 19px 54px 20px 55px;
  background-color: #886239;
  border-radius: 30px;
  margin-bottom: 20px;
}

.header__arrow {
  text-align: center;
  margin-bottom: 15px;
}

/*блок 2*/
.direction {
  padding: 100px 0;
}

.direction__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  row-gap: 32px;
}
.direction__img {
  display: block;
  border-radius: 2px;
}
.description__text {
  font-size: 16px;
  line-height: 17px;
  color: #1F1E1E;
  border: 1px solid #D9D9DE;
  border-top: none;
  padding: 10px 19px 14px;
  border-radius: 2px;
}

.travel-info {
  background-image: url("https://res.cloudinary.com/dl4dawvyx/image/upload/v1704705897/travel-info-bg_gx9arn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 30px 0 50px; /*размеры взяты из макета от заголовка к верхней границе блока, от нижней строки к нижней части блока*/
}

.travel-info__title {
  color: #000000;
  margin-bottom: 50px;
}

.travel-info__title1 {
  color: #ffffff;
  margin-bottom: 50px;
}

.travel-info__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 54px 67px;
}

.travel-info__img {
  margin-bottom: 15px;
}

.tavel-info__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}

.popular {
  padding: 100px 0;
}

.popular__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 40px;
}

.popular__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 32px;
  padding-bottom: 80px;
  border-bottom: 1px solid #D9D9DE;
}

.popular__link {
  padding: 16px 24px 19px;
  color:#FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 256px;
  line-height: 130%;
  border-radius: 2%;
}
/*далее выбираем два элемента 3ю и 6ю карточки и прописываем чтобы каждый из них занимал 2колонки (grid-column: span 2) и 2строки (grid-row: span 2) */
.popular__link:nth-child(3),
.popular__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.popular__linl-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}

.popular__linl-title--big {
  font-weight: 500;
  font-size: 24px;
}

.popular__price {
  font-weight: bold;
  font-size: 16px;
  margin-top: auto; /*т.к для .popular__country,  .popular__time уже прописаны марджины, то выставляя здесь auto - он толкнет их вверх*/
}

.popular__country,
.popular__time {
  margin-bottom: 15px;
}
/*В комментарии код блока когда карта в виде простой картинки
.map {
  padding-bottom: 100px;
}

.africa {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 46px;
}
а ниже пример номальной карты, которую можно потыкать*/
.map {
  padding-bottom: 100px;
}

.map__title {
  margin-bottom: 46px;
}

.about {
  padding-bottom: 100px;
}

.about__inner {
  display: grid;
  grid-template-columns: 448px 640px;
  gap: 32px;
}

.about__title {
  text-align: left;
  margin-bottom: 25px;
}

.about__text {
  margin-bottom: 34px;
}

.about__link {
  text-align: left;
  color: #C4C4C4;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
}

.about__popup {
  background-image: url(https://res.cloudinary.com/dl4dawvyx/image/upload/v1704705897/video-bg_cw46lg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 5px;
  /*далее кнопку "плей"размещаем по центру бэкграунда*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*стилизация галлереи*/
.gallery {
  padding: 50px 0 105px;
  background: #886239;
  color: #FFFFFF;
}

.gallery__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-right: 160px; /*прописали чтобы оставить место для кнопок слайдера*/
}

.gallery__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}

.gallery__item-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

/*блок сафари тур премиум класса*/
.tour {
  padding: 100px 0;
}

.tour__title {
  margin-bottom: 77px;
}

.tour__box {
  column-count: 2;/*чтобы разделить текст на определенное кол-во колонок, удобно использовать свойство column-count*/
  column-gap: 46px; /*расстояние между колонками*/
  border-bottom: 1px solid #D9D9DE;
  padding-bottom: 50px;
  margin-bottom: 44px;
}

.tour__text {
  margin-bottom: 15px;/*расстояние между параграфами*/
  font-size: 18px;
  line-height: 140%;
}

.tour__text span {
  font-weight: 700;
}

.tour__info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
}

.tour__info-item {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 58px;
  line-height: 60px;
  color: #886239;
  text-align: center;
}

.tour__info-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #1F1E1E;
}

/*стилизация формы отправки сообщений*/
.booking {
  background: #EAEAEA;
  padding: 75px 0;
}

.booking__title {
  margin-bottom: 43px;
}

.booking__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 830px;
  margin: 0 auto;
}

.booking__input {
  width: 256px;
  height: 44px;
  border: 1px solid #D9D9DE;
  padding: 11px 14px 12px;
  margin-bottom: 28px;
  font-size: 16px;
}
/*стилизуя текст внутри инпутов, используем ::placeholder и шрифт прописываем*/
.booking__input::placeholder,
.booking__area::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #C4C4C4;
}

.booking__area {
  width: 100%;
  padding: 14px;
  height: 112px;
  border: 1px solid #D9D9DE;
  resize: none; /*убрали в нижнем правом углу обозначение возможности растянуть область ввода текста*/
  margin-bottom: 67px;
}

.booking__btn {
  background: #886239;
  border-radius: 30px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  padding: 19px 65px 20px;
  cursor: pointer;
}

.booking__label {
  font-size: 16px;
  line-height: 130%;
  color: #1F1E1E;
  text-decoration: underline;
  display: flex;
  align-items: center;
}
/*стилизуем чекбокс*/
/*ниже мы скрываем чекбокс созданный по умолчанию,чтобы потом создать такой как нам нужен по макету*/
.booking__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 45px;
}
/*создаем свой чекбокс*/
.booking__checkbox-style {
  width: 26px;
  height: 26px;
  border: 2px solid #C4C4C4;
  border-radius: 2px;
  position: absolute;
  margin-left: -45px;
}

.booking__checkbox:checked + .booking__checkbox-style::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #C4C4C4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Стилизация Footer*/
.footer {
  background: #1F1E1E;
  padding: 80px 0;
}

.footer__logo {
  text-align: center;
  margin-bottom: 70px;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 130%;
  max-width: 830px;
  margin: 0 auto;
}

.footer__info {
  width: 225px;
}
.footer__box-title {
  margin-bottom: 7px;
  font-weight: 500;
}
.footer__copy {
  margin-bottom: 3px;
  opacity: 0.8;
}
.footer__link {
  text-decoration: underline;
  opacity: 0.8;
}
.footer__adress {
  width: 165px;
}
.footer__adress-text {
  opacity: 0.8;
}
.footer__contacts {
  width: 210px;
}
.footer__phone {
  opacity: 0.8;
}
.footer__mail {
  opacity: 0.8;
  display: block; /* чтобы занимал всю ширину и не вылазил на предыдущую строку к телефону*/
}

.menu__btn {
  display: none; /*скрыли для того чтобы не отображалась кнопка до того момента,пока размер экрана не станет меньше 560px, что указано в адаптиве*/
  width: 40px;
  height: 30px;
  border: none;
  padding: 0;
  background-color: transparent;/*прозрачный цвет*/
  position: absolute;
  right: 10px;
  top: 107px;
}

.menu__btn::before,
.menu__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: #fff;
}

.menu__btn::before {
  top: 0;
}
.menu__btn::after {
  bottom: 0;
}

.menu__btn span {
  display: block;
  height: 2px;
  background-color: white;
}


/*адаптив*/
@media (max-width: 1140px){
  .direction__inner {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
  .direction__img {
    width: 100%;
  }
  .about__inner {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .gallery__item-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .gallery__item {
    width: 100%;
  }
}

@media (max-width: 990px) {
  .popular__link {
    min-height: 200px;
  }
  .popular__items {
    gap: 10px;
  }
  .tour__info {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 15px;
  }
}

@media (max-width: 800px){
  /*все,что указывается в фигурных скобках, работает лишь тогда,когда экран меньше 800px, если бы указали min-width: 800px то медиазапросы срабатывали бы только в том случае,когда экран больше 1200px*/
  .header__phone span {
    display: none;/*при ширине экрана меньше 800px - текст "Заказ туров и бронирование" перестанет отображаться*/
  }
  .travel-info__items {
    grid-template-columns: repeat(3, 1fr);
    gap: 44px 57px;
  }
  .popular__link:nth-child(3),
  .popular__link:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }
  .popular__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular__link {
    min-height: 320px;
  }
  .popular {
    padding: 50px 0;
  }
  .map {
    padding-bottom: 50px;
  }
  .map__iframe {
    height: 400px;
  }
  .about__inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .about__popup {
    min-height: 300px;
  }
  .about {
    padding-bottom: 50px;
  }
  .gallery {
    padding-bottom: 50px;
  }
  .gallery__title {
    width: 100%;
    text-align: left;
  }
  .gallery__top {
    flex-wrap: wrap;
  }
  .tour {
    padding: 50px 0;
  }
  .tour__box {
    column-count: 1;
  }
  .tour__title {
    margin-bottom: 40px;
  }
  .tour__info {
    grid-template-columns: repeat(2, 1fr);
  }
  .booking {
    padding: 50px 0;
  }
  .booking__input {
    width: 100%;
  }
  .booking__label {
    margin-top: -192px;
    margin-left: 50px;
    width: 100%;
  }
  .footer {
    padding: 80px 0;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__box {
    display: block;
    text-align: center;
  }
  .footer__info,
  .footer__adress {
    margin: 0 auto 25px;
  }
  .footer__contacts {
    margin: 0 auto;
  }
}

@media (max-width: 560px){
  .header__title {
    font-size: 50px;
  }
  .menu__btn {
    display: inline-block;
  }
  .menu__list {
    transform: translateY(-200%);/*таким образом скрыли список меню*/
    display: block;
    background-color: #886239;
    opacity: 80%;
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
  }
  .menu__list.menu-list--active {
    transform: translateY(0%);
    transition: all .5s;
  }
  .menu__link {
    padding: 10px 0;
    display: block;
    text-align: center;
  }
  .logo {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .header__phone-number {
    margin-left: 0;
  }
  .menu {
    border: none;
  }
  .direction__inner {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
  .direction {
    padding: 50px 0;
  }
  .travel-info__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
  .title {
    font-size: 28px;
  }
  .popular__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .popular__link {
    min-height: 490px;
  }
  .gallery__item-inner {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 460px) {
  .direction__inner,
  .travel-info__items,
  .tour__info {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 340px){
.about__popup {
  min-height: 200px;
}
}

/* Стилизация дивов из джанго*/
.posts {
  border: rgb(255, 255, 255) 1px solid;
  padding: 1px;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.post {
  border-bottom: rgb(207, 199, 199) 1px solid;
  padding: 1px;
  margin-bottom: 10px;
}